extends ../components/layouts/default

block vars
    - var path = "/books/"

block content
    p
        a(href="/books/new/", ="button") Create New Book
    include ../components/includes/navigations/filter
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year Released
        tbody
            if books !== undefined
                each book in books
                    tr
                        td: a(href="/books/" + book.id) #{book.title}
                        td #{book.author}
                        td #{book.genre}
                        td #{book.first_published}