extends ../components/layouts/default

block vars
    - var path = "/books/"

block content
    p
        a(href="/books/new/", class="button") Create New Book
    include ../components/includes/navigations/filter
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year Released
        tbody
            each loan in loans
                tr
                    td: a(href="/books/" + loan.Book.id) #{loan.Book.title}
                    td #{loan.Book.author}
                    td #{loan.Book.genre}
                    td #{loan.Book.first_published}