include ../mixins/error.pug
doctype html
html(lang="en")
    head
        title #{title}
        style
            include ../includes/css/styles.css
    body
        include ../includes/navigations/navigation
        h1 #{title}
        block content
