extends ../components/layouts/default

block vars
    - var path = "/loans/"

block content
    p
        a(href="/loans/new/", class="button") Create New Loan
    include ../components/includes/navigations/filter
    table
        thead
            tr
                th Book
                th Patron
                th Loaned On
                th Return By
                th Returned On
                th Action
        tbody
            if loans.length !== "undefined"
                each loan in loans
                    tr
                        td: a(href="/books/" + loan.Book.id)
                            = loan.Book.title
                        td: a(href="/patrons/" + loan.Patron.id)
                            = `${loan.Patron.first_name} ${loan.Patron.last_name}`
                        td= loan.getDateAsString(loan.loaned_on)
                        td= loan.getDateAsString(loan.return_by)
                        td
                            if loan.returned_on !== null
                                = loan.getDateAsString(loan.returned_on)
                        td
                            if !loan.returned_on
                                a.button(href="/loans/return/" + loan.id) Return Book

