extends ../components/layouts/default

block vars
    - var path = "/loans/"

block content
    form(action="/loans/" + loan.id + "?_method=PUT", method="post")
        include ../components/includes/forms/loan_form